<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AS.TaskAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <!-- !!! NLog -->
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <!-- !!! NLog -->
    </configSections>
    <applicationSettings>
        <AS.TaskAgent.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>Please remove me</value>
            </setting>
        </AS.TaskAgent.Properties.Settings>
    </applicationSettings>


  <!-- !!! NLog -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="file" xsi:type="File" fileName="${basedir}/logs/taskagent.log" archiveAboveSize="1048576" maxArchiveFiles="1" archiveFileName="${basedir}/logs/taskagent.bak.log"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  <!-- !!! NLog -->

</configuration>